@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#regBtnAndLoginBtn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

#signinBlock {
  background-color: aliceblue;
  width: 65vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1vw;
}

#regBtnAndLoginBtn h1 {
  -ms-flex-line-pack: center;
      align-content: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 600;
  font-size: 3rem;
}
#regBtnAndLoginBtn h3 {
  -ms-flex-line-pack: center;
      align-content: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 400;
  font-size: 2rem;
}
#regBtnAndLoginBtn #socialMediaContainer i {
  font-size: 5rem;
  color: #38ba8a;
}

#signupBlock {
  background-image: linear-gradient(253deg, #3ba5b4 0, #38ba8a 100%);
  width: 35vw;
  height: 100vh;
  gap: 1vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 5vh;
}

#signupBlock button {
  background-color: aliceblue;
}
#signupBlock input {
  border: none;
  background-color: azure;
}

button {
  background-color: #38ba8a;
  padding: 2vh 2vw 2vh 2vw;
  border-radius: 10%;
  border: none;
}

input {
  border: none;
  outline: none;
  background-color: #c9f5e4;
  border-radius: 10%;
  width: 10vw;
  height: 3vh;
  padding: 1vh;
}

#containerWithInputs {
  background-image: linear-gradient(253deg, #3ba5b4 0, #38ba8a 100%);
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 3vh;
}
#containerWithInputs input {
  background-color: aliceblue;
  padding: 3vh;
  margin: 2vh;
}
#containerWithInputs button {
  background-color: aliceblue;
  border-radius: 30%;
  padding: 2vh;
  width: 10vw;
  border-radius: 10%;
  border: none;
}

#orderButtonsContainer {
  background: aliceblue;
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 3vh;
}
#orderButtonsContainer input {
  background-color: aliceblue;
  padding: 3vh;
  margin: 2vh;
}
#orderButtonsContainer button {
  background-color: #38ba8a;
  border-radius: 30%;
  padding: 2vh;
  width: 10vw;
  border-radius: 10%;
  border: none;
}

.skeleton-element {
  width: 100px; /* Установите желаемую ширину */
  height: 20px; /* Установите желаемую высоту */
  background: -webkit-gradient(linear, left top, right top, color-stop(25%, #f0f0f0), color-stop(50%, #e0e0e0), color-stop(75%, #f0f0f0));
  background: linear-gradient(90deg, #f0f0f0 25%, #e0e0e0 50%, #f0f0f0 75%);
  background-size: 200% 100%;
  -webkit-animation: skeleton-loading 1.5s infinite;
          animation: skeleton-loading 1.5s infinite;
}

@-webkit-keyframes skeleton-loading {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: -200% 0;
  }
}

@keyframes skeleton-loading {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: -200% 0;
  }
}